.hero-section {
    margin-top: 5rem;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}

.hero__box {
    text-align: center;
}

@media only screen and (max-width: 749px) {
    .hero-section {
        align-items: flex-start;
    }

    .hero--content-align-mobile-right .hero__box {
        text-align: right;
    }

    .hero--content-align-mobile-left .hero__box {
        text-align: left;
    }
}

@media only screen and (min-width: 750px) {
    .hero--content-align-right .hero__box {
        text-align: right;
    }

    .hero--content-align-left .hero__box {
        text-align: left;
    }
}

@media screen and (max-width: 749px) {
    .hero--small .hero__media {
        height: 28rem;
    }

    .hero--medium .hero__media {
        height: 34rem;
    }

    .hero--large .hero__media {
        height: 39rem;
    }
}

.hero__media {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 749px) {
    .hero--mobile-bottom .hero__media,
    .hero--stacked:not(.hero--mobile-bottom) .hero__media {
        position: relative;
    }

    .hero--stacked.hero--adapt .hero__content {
        height: auto;
    }

    .hero__box {
        background: transparent;
        --color-foreground: 22, 25, 79;
        --color-button: 22, 25, 79;
        --color-button-text: 255, 255, 255;
    }

    .hero:not(.hero--mobile-bottom) .hero__box {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .button--secondary {
        --color-button: 255, 255, 255;
        --color-button-text: 22, 25, 79;
        --alpha-button-background: 1;
    }

    .hero--stacked:not(.hero--mobile-bottom) .hero__content {
        position: absolute;
        height: auto;
    }

    .hero--stacked.hero--adapt:not(.hero--mobile-bottom) .hero__content {
        max-height: 100%;
        overflow: hidden;
        position: absolute;
    }

    .hero--stacked .hero__media {
        position: relative;
    }

    .hero::before {
        display: none !important;
    }

    .hero--stacked .hero__media-image-half {
        width: 100%;
    }
}

.hero__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media screen and (max-width: 749px) {
    .hero--mobile-bottom:not(.hero--stacked) .hero__content {
        order: 2;
    }

    .hero:not(.hero--mobile-bottom) .field__input {
        background-color: transparent;
    }
}

/* .hero__box {
    padding: 4rem 3.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
} */

@media screen and (min-width: 750px) {
    .hero__box {
        background: transparent;
        --color-foreground: 22, 25, 79;
        --color-button: 22, 25, 79;
        --color-button-text: 255, 255, 255;
        max-width: 89rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .button--secondary {
        --color-button: 255, 255, 255;
        --color-button-text: 22, 25, 79;
        --alpha-button-background: 1;
    }



    .content-container:after {
        display: none;
    }
}

@media screen and (max-width: 749px) {

    .hero--mobile-bottom::after,
    .hero--mobile-bottom .hero__media::after {
        display: none;
    }
}

.hero::after,
.hero__media::after {
    content: '';
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hero__box>*+.hero__text {
    margin-top: 1.5rem;
    max-width: 64ch;
    color: rgb(106, 109, 158);
}

@media screen and (min-width: 750px) {
    .hero__box>*+.hero__text {
        margin-top: 2rem;
    }
}

.hero__box>*+* {
    margin-top: 1rem;
}

.hero__box>*:first-child {
    margin-top: 0;
}

@media screen and (max-width: 749px) {
    .hero--stacked .hero__box {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {
    .hero__box {
        width: auto;
        max-width: 71rem;
        min-width: 45rem;
    }
}

@media screen and (min-width: 1400px) {
    .hero__box {
        max-width: 90rem;
    }
}

.hero__heading {
    margin-bottom: 0;
    max-width: 24ch;
    font-weight: 700;
}

.hero__box .hero__heading+* {
    margin-top: 1rem;
}

.hero__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;
    margin-top: 2rem;
}

.hero__buttons .button {
    --buttons-radius-outset: 1.25rem;
    --buttons-radius: 1.25rem;

    border: none;
    padding: 1.0938rem 7.8125rem;
    justify-content: space-between;
    gap: 1.5rem;
}

.hero__buttons .button:hover {
    gap: 2.5rem;
}

@media screen and (max-width: 749px) {
    .hero--content-align-mobile-right .hero__buttons--multiple {
        justify-content: flex-end;
    }

    .hero--content-align-mobile-center .hero__buttons--multiple>* {
        flex-grow: 1;
        min-width: 22rem;
    }
}

@media screen and (min-width: 750px) {
    .hero--content-align-center .hero__buttons--multiple>* {
        flex-grow: 1;
        min-width: 22rem;
    }

    .hero--content-align-right .hero__buttons--multiple {
        justify-content: flex-end;
    }
}

.hero__box>*+.hero__buttons {
    margin-top: 2rem;
}

@media screen and (min-width: 750px) {
    .hero-section {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .hero--small {
        min-height: 42rem;
    }

    .hero--medium {
        min-height: 56rem;
    }

    .hero--large {
        min-height: 72rem;
    }

    .hero__content {
        justify-content: flex-start;
    }

    .hero__content.hero__content--top-left {
        align-self: flex-start;
    }

    .hero__content.hero__content--top-right {
        align-self: flex-start;
        grid-column: 2;
    }

    .hero__content.hero__content--middle-left {
        align-self: center;
    }

    .hero__content.hero__content--middle-right {
        align-self: center;
        grid-column: 2;
    }

    .hero__content.hero__content--bottom-left {
        align-self: flex-end;
    }

    .hero__content.hero__content--bottom-right {
        align-self: flex-end;
        grid-column: 2;
    }
}

.media {
}